# Ignore node_modules and dependencies
node_modules
*.log

# Ignore environment and configuration files (unless needed)
.env
.env.local
.env.*.local

# Ignore git and version control files
.git
.gitignore
.gitattributes

# Ignore Docker-related files not needed in the final image
Dockerfile
.dockerignore

# Ignore build and cache directories
.next
out
dist
cache
coverage
.vscode
.idea

# Ignore temporary files and system-specific files
*.md
*.ts
*.tsx
*.DS_Store
*.swp
Thumbs.db